/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}

/* Body and defaults */
body {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 8fr;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Navigation */
nav {
    grid-column: 1 / 2;
    grid-row: span 2;
    padding-top: 10px;
    color: white;
    background-color: #1992D4;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-grid-title>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-grid-title>a:hover {
    color: coral;
}

.nav-grid-header>.nav-grid-title {
    font-size: 1.5rem;
}

.nav-grid-logo {
    font-size: 2eem;
    margin-right: 10px;
    padding-left: 5px;
}

.nav-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 3fr;
}

.nav-grid-head {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: center;
}

.nav-grid-title {
    font-size: 1.2rem;
    align-items: center;
    margin-right: 20px;
}

.nav-grid-top {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: end;
    margin-top: 30px;
}

.nav-grid-bottom {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    align-items: end;
    margin-top: 30px;

}

.nav-grid-box-logo {
    text-align: center;
    font-size: 1.3rem;
}

.nav-grid-box {
    font-size: 1rem;
}


/* Header stuff */
header {
    grid-column: 2;
    grid-row: 1 / 1.5;
    padding-left: 30px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 2;
}

.header-grid {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr 2.5fr;
    align-items: center;
}

.header-grid-search {
    align-items: center;
    vertical-align: middle;
    display: grid;
    grid-template-columns: .5fr 9fr;
}

.header-top-right {
    display: grid;
    grid-template-columns: .3fr .4fr 1fr;
    align-items: center;
    width: 250px;
    justify-items: end;
    margin-left: 100px;
}

.search-bar {
    width: 95%;
    border-radius: 25px;
    height: 20px;
    padding: 2px 10px;
    border: 0;
    outline: 0;
    background-color: #E9EEFF;
}

.header-btn {
    background-color: #1992D4;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 5px 6px 7px 6px;
    width: 85px;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
}

.header-btn:hover {
    background-color: #75c5f0;
    color: #204994;
    font-weight: 600;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 280px;
    margin-left: 100px;
    margin-top: 15px;
}

.header-greeting {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    width: 400px;
}

.greeting {
    font-size: .8rem;
    margin-bottom: -15px;
    font-weight: 700;
    grid-row: 1;
    grid-column: 2;
}

.greeting-name {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 700;
    grid-row: 2;
    grid-column: 2;
}


/* Main */
main {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 20px;
    grid-column: 2;
    grid-row: 2;
    background-color: #E9EEFF;
}

.main-grid {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.main-grid-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr 1fr;
    height: 100%;
}

.main-projects-title {
    grid-column: span 2;
    font-weight: 700;
}

.main-projects-card {
    margin: 10px;
    margin-left: 0;
    margin-right: 20px;
    border-left: 8px solid #F0B429;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    padding-bottom: 15px;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.main-projects-card p {
    font-size: 14px;
}

.main-projects-card h4 {
    font-size: .9rem;
    margin-bottom: 1px;
}

.main-grid-side {
    display: grid;
    grid-template-rows: .1fr 4fr .1fr 3fr;
    margin-left: 5px;
    height: 100%;
}

.announce-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 15px 20px 15px;
    height: 80%;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.trending-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 10px;
    padding: 10px 15px;
    height: 84%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trending-card {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.trending-card-text {
    margin-left: 10px;
}

.project-icons {
    margin-top: 10px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

.announce-card {
    font-size: .8rem;
    font-weight: 400;
    padding: 15px 5px;
}

.bottom-border {
    border-bottom: 1px solid grey;
}

.nav-grid-logo {
    text-align: center;
    font-size: 2.3rem;
}

.username {
    font-size: .9rem;
    margin: 0;
    font-weight: 700;
    padding: 0;
}

.appname {
    margin: 0;
    padding: 0;
    font-size: .9rem;
    color: grey;
}

image {
    padding: 0;
    margin: 0;
}